{:interdep/config
 {:plugins [interdep.plugins.multi-repo]}

 :interdep.multi-repo/registry
 ["foobar-app"
  "foobar-util"]

 :deps
 {org.rejoice-cljc/interdep {:local/root "../"}}

 :aliases
 {:prepare
  {:exec-fn interdep.deps/process}}}
