{:interdep.multi-repo/registry
 ["rejoice-app"
  "rejoice-lib"]
 
 :interdep.multi-alias/profiles
 {:main {:alias-name* [:main]}}
 
 :deps
 ;; note: in your project you'd require the actual repo, not a local dep.
 {org.rejoice-cljc/interdep {:local/root "../"}}}
