{:deps {interdep/interdep {:local/root "."}}

 :tasks
 {:requires ([interdep.cli :as interdep])
  run (clojure (interdep/enhance-args *command-line-args*))
  
  print-args (println (interdep/enhance-args *command-line-args*))}}


