{:interdep.multi-repo/registry
 ["interdep-core"
  "interdep-cli"]

 :interdep.multi-alias/profiles
 {:dev  {:alias-name* [:dev]}
  :test {:alias-name* [:test]}}

 :deps
 {interdep/core {:local/root "./interdep-core"}
  interdep/cli  {:local/root "./interdep-cli"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "1.60.977"}}}}}
